.navbar-element div {
    right: 20px;
    transition: .5s;
}

.navbar-element div::after {
    content: url('arrow-r.svg');
    height: 7px;
    width: 9px;
    position: absolute;
    top: -14px;
    right: -2px;
    transition: .5s;
    opacity: 0;
}

.navbar-element:hover div {
    right: 0;
}

.navbar-element:hover div::after {
    opacity: 1;
}

@media (min-width: 1024px) {
    .navbar__backtohotel::after {
        content: url('arrow-r.svg');
        height: 7px;
        width: 9px;
        position: absolute;
        bottom: 8px;
        left: 0;
        rotate: 180deg;
        transition: .5s;
    }
    
    .navbar__backtohotel:hover::after {
        left: -5px;
    }   
}

@media (prefers-color-scheme: dark) {
    .navbar-element div::after {
        content: url('arrow-r-s.svg');
    }
    .navbar__backtohotel::after {
        content: url('arrow-r-s.svg');
    }
}