.navbar-element>.navbar-element-tile {
    right: 20px;
    transition: .5s;
}

.navbar-element>.navbar-element-tile::after {
    content: url('arrow-r.svg');
    height: 7px;
    width: 9px;
    position: absolute;
    top: -14px;
    right: -2px;
    transition: .5s;
    opacity: 0;
}

.navbar-element:hover .navbar-element-tile {
    right: 0;
}

.navbar-element:hover .navbar-element-tile::after {
    opacity: 1;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

.navbar-element:hover img {
    animation: wiggle 1s ease-in-out infinite;
}

@media (min-width: 1024px) {
    .navbar__backtohotel::after {
        content: url('arrow-r.svg');
        height: 7px;
        width: 9px;
        position: absolute;
        bottom: 8px;
        left: 0;
        rotate: 180deg;
        transition: .5s;
    }
    
    .navbar__backtohotel:hover::after {
        left: -5px;
    }   
}